body{
    background-image: -moz-repeating-linear-gradient();
}
h2{
    color:red;
}
.d{
    border: red;
}
.c1{
    text-align: center;
    color:olivedrab;
}
.c2{
    color:orange;
    text-align: center;
}
table{
    table-layout: auto;
    border: mediumblue;
}
th{
    background-color:mediumturquoise;
}
.b :nth-child(even){
    background-color: gainsboro;
}
.b :nth-child(odd){
    background-color: grey;
}

